@import '../../styles/colors';
@import '../../styles/fonts';

$box_shadow: 0 4px 5px 1px rgba(0,0,0,.06);

.card {
  position: relative;

  display: block;
  padding: 1.2em 1.5em;
  margin-top: 1em;

  background-color: #fff;
  box-shadow: $box_shadow;

  text-decoration: none;
  color: $color_primary;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;

    background-color: $color_accent;

    transform-origin: 0% 50%;
    transform: scaleX(0);
    will-change: transform;
    transition: transform .2s ease-in-out;
  }

  &:hover {
    &::before {
      transform: none;
    }
  }
}

.cardTitle {
  font-size: 1.5em;
  padding-bottom: .2em;
  font-family: $font_alt;
}

.date {
  color: #999;
  padding-right: 1em;
}
