
.banner {
	background-color: $color_primary;
	padding: 1em;
	padding-top: 3em;

	&__content {
		width: 80%;
		margin: 6em auto;
		color: #fff;
		padding: 1em;

		&__name {
			font-size: 4em;
			padding: .25em 0;
		}

		&__text {
			font-size: 1.3em;
			font-weight: 100;
		}
	}
}
