/* ------------------------- START reset ------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  min-width: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------- END reset ------------------------- */

:root {
  --color-accent: #51e980;
  --color-accent-1: #5180e9;
  --color-background: #000;
  font-size: 16px;
  font-family: monospace;
  color: #ddd;
  line-height: 1.6rem;
}

html, body {
  background-color: var(--color-background);
}

hr {
  border: none;
  border-bottom: 1px solid #222;
}

p {
  padding-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
  padding-bottom: 0.7em;
  font-weight: bolder;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.1rem; }

.root {
  padding: 1.3rem 1.7rem;
  max-width: 1000px;
  margin: auto;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body * {
  box-sizing: border-box;
}

.card {
  display: block;
  border: 1px solid #222;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  text-decoration: none !important;
}

.card:hover .card-title {
  text-decoration: underline;
}

.card-title {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
}

.card-description {
  display: block;
  font-size: 0.8rem;
  color: #888;
}

.inline-card {
  border: 1px solid #222;
  padding: 1rem 1rem 0.3rem;
  margin-bottom: 1rem;
}

li {
  padding-bottom: 0.4rem;
}
