:root {
  --color-accent: #51e980;
  --color-accent-1: #5180e9;
  --color-background: #000;
  font-size: 16px;
  font-family: monospace;
  color: #ddd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 0.5rem;
}

header {
  padding: 1rem;
}

main {
  padding: 0.4rem 1rem;
  max-width: 1000px;
  margin: auto;
}

a {
  color: var(--color-accent);
}

body * {
  box-sizing: border-box;
}

.card {
  display: block;
  border: 1px solid #333;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.card:hover .card-title {
  text-decoration: underline;
}

.card-title {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
}

.card-description {
  display: block;
  font-size: 0.8rem;
  color: #888;
}
