
.page-wrapper {
	padding: 1.6em 1em;
	max-width: 900px;
	margin: 2.5em auto;
	font-size: 1em;

	&__title {
		font-size: 2em;
		font-weight: 100;
		padding: .25em .5em;
	}

	&__text {
		font-size: 1em;
		padding: 1em 0;
		line-height: 1.8em;

		p, .part {
			padding: .5em 0;
			text-indent: 1em;
		}
	}
}


