
.skills {

	&__css {

		&__selector {
			font-size: 2em;
			font-family: $font_alt;
		}

		&__props {
			padding: 1em 0;
			padding-left: 3em;
			// font-weight: bold;
			font-family: 'Lucida Console', 'Monaco', 'monospace', $font;
		}
	}

	.css-prop {

		&__name {
			color: $color_primary;

			&::after {
				content: ':';
				padding: 0 .4em 0 .1em;
			}
		}

		&__value {

			&::after {
				content: ';';
			}

			&::before {
				content: 'learning';
				color: #888;
			}

			&.cool::before {
				content: 'beginner';
				color: $color_accent_dark;
			}

			&.awesome::before {
				content: 'intermediate';
				color: #A593E0;
			}

			&.stud::before {
				content: 'confident';
				color: #8e44ad;
			}
		}
	}
}
