@import './colors.scss';
@import './fonts.scss';

.wrapper {
  position: relative;
  max-width: 1000px;
  margin: 3em auto 1em;
  padding: 1em;
}

.content {
  font-weight: 400;
  padding: 2.2em 0;
  font-size: 1.1em;
  line-height: 1.7em;
}

.gobackButton {
  color: $color_accent;
  font-size: 1.2em;

  &:hover {
    color: $color_accent_dark;
    text-decoration: underline;
  }
}

.date {
  text-align: right;
  font-family: $font_alt;
}
