
@import 'reset';

.row {
	display: flex;

	&.sp-bt {
		justify-content: space-between;
	}
	&.sp-ar {
		justify-content: space-around;
	}

	.col {
		flex: 1;
	}
}

@media (max-width: 800px) {
	.hideOnSm {
		display: none !important;
	}

	.row:not(.no-collapse) {
		display: block;
	}
}

@media (max-width: 1000px) {
	.hideOnMd {
		display: none !important;
	}
}
