
@import 'reset';
@import 'fonts';
@import 'colors';

.wrapper {
  text-align: center;
  line-height: 1.5em;
  font-size: 1.1em;

  font-family: $font;
}

.title {
  font-size: 6em;
  padding: 1em 0;
  font-weight: 100;
  color: $color_accent;
  background-color: $color_primary;
}

.text {
  padding: 1.3em .9em .5em;
}

.links {
  a {
    padding: .1em;
    color: $color_accent_dark;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: $color_accent;
      color: $color_accent;
    }
  }
}
