@import "./colors.scss";

.content {
  max-width: 1000px;
  margin: 2em auto;
  padding: 1em;
  line-height: 1.5em;
}

.title {
  font-size: 1.5em;
  font-weight: 100;
  padding: .5em 0;
}

.para {
  line-height: 1.8em;
  text-indent: 1em;
  padding: .7em 0;
}

.link {
  color: $color_accent_dark;

  &:hover {
    text-decoration: underline;
    color: $color_accent;
  }
}

.spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.lightbutton {
  display: inline-block;
  padding: 0 .8em;
  background-color: $color_accent_dark;
  color: $color_fg;

  &:hover {
    background-color: $color_accent_light;
  }
}

