
@import 'reset';
@import 'fonts';
@import 'colors';
@import 'media';
@import 'grid';

html, body {
	background-color: #eee;
}

:root {
	font-size: 16px;
	color: #222;
	font-family: $font;
}

* {
	box-sizing: border-box;

	&::after, &::before {
		content: '';
	}
}

