.main {
  padding: 1rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.header {
  position: relative;
  padding: 4rem 4rem;
  text-align: center;
}

.headerName {
  text-align: left;
  display: inline-block;
}

.headerTitle {
  font-size: 5rem;
}

.headerTitle::before {
  content: "Hi, My name is";
  display: block;
  font-size: 0.9rem;
}

.headerSubtitle {
  font-size: 0.9rem;
  text-align: right;
}

/* Mobile and Tablet */
@media (max-width: 1023px) { }

