@import '../../styles/colors';

.wrapper {
  background-color: $color_primary;
	padding: 2em 1em;
	font-size: .8em;
	text-align: left;
}

.content {
  width: 80%;
  margin: 6em auto;
  color: #fff;
  padding: 1em;
}

.title {
  font-size: 4em;
	padding: .25em 0;
}

.subtitle {
  font-size: 1.3em;
	font-weight: 100;
}

@media (max-width: 1000px) {
  .wrapper {
    font-size: .8em;
  }
}

@media (max-width: 600px) {
  .wrapper {
    font-size: .7em;
    padding: 5em 1em;
    text-align: center;
  }

  .content {
    width: 100%;
  }

  .title {
    font-size: 3.5em;
  }
}
