@import '../../styles/colors.scss';

.topbar {
  position: absolute;
  top: -85px;
  right: 20px;
}

.bottomBar {
  border-top: 1px solid #ddd;
  padding: 0.5em 0;
}

.shareLink {
  display: inline-block;
  padding: 1em;

  i {
    padding-right: .5em;
  }
}
