@import '../../styles/colors';

.clapperBtn {
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;

  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  
  &>span {
    font-size: 1.3em;
  }
}

.variationFab {
  width: 4.6em;
  height: 4.6em;
  border-radius: 50%;

  background-color: $color_accent;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,.1);
  color: #fff;

  &:hover {
    background-color: $color_accent_dark;

    .totalCount {
      transform: translate(-50%, 10px);
      opacity: 1;
    }
  }

  .totalCount {
    $bgColor: $color_primary;
    $arrowSize: 0.4em;
  
    position: absolute;
    top: 100%;
    left: 50%;
  
    display: flex;
    padding: .5em 1em;
    
    font-weight: 400;
    color: #fff;
    background-color: $bgColor;
    font-size: .8em;
  
    transform: translate(-50%, -10px);
    opacity: 0;
    will-change: transform, opacity;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  
    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
  
      width: 0;
      height: 0;
      border: $arrowSize solid transparent;
      border-bottom-color: $bgColor;
      margin-left: -$arrowSize;
    }
  }

  &.overLimit {
    background-color: #888;

    &:hover {
      background-color: #777;
    }
  }
}

.variationMini {
  padding: .4em .6em;

  font-size: 1em;
  line-height: 1em;
  background-color: $color_accent_dark;
  color: #fff;

  &:hover {
    background-color: $color_accent;
  }

  &.overLimit {
    background-color: #888;

    &:hover {
      background-color: #777;
    }
  }

  * {
    font-size: .7em;
  }

  .totalCount {
    display: inline-block;
    font-size: 1em;
    padding-left: .5em;

    &::after {
      content: ' stars';
    }
  }
}

.overLimit {
  cursor: default;
}


.userCount {
  position: absolute;
  bottom: 100%;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid $color_accent;
  
  font-weight: 400;
  color: $color_accent;
  background-color: $color_primary;
  font-size: .8em;

  transform: translate(-50%, 10px);
  opacity: 0;
  will-change: transform, opacity;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;

  &Show {
    transform: translate(-50%, -10px);
    opacity: 1;
  }
}
