
@media (max-width: 1000px) {
	.hide-1 {
		display: none !important;
	}

	body {
		.banner {
			font-size: .8em;
		}
	}
}

@media (max-width: 600px) {
	.hide-2 {
		display: none !important;
	}

	body {

		.contact .page-wrapper__text {
			font-size: .7em;
		}

		.work {
			&__project {
				.block {
					min-height: 15em;

					&__title {
						font-size: 1.7em;
						padding-top: 1.1em;
					}

					&__links {
						font-size: .9em;
					}
				}
			}
		}

		.header {
			font-size: .7em;
			padding: 0;
		}

		.menu {
			font-size: .9em;

			&__closebtn {
				font-size: 1.7em;
			}

			&__list {
				padding: 1em 2em;

				&__link {
					font-size: .9em 1em;
				}

				&__li {
					width: 100%;
					text-align: right;
					// text-align: left;

					.title {
						font-size: 1.9em;
					}
				}
			}
		}

		.banner {
			font-size: .7em;
			padding: 5em 1em;
			text-align: center;

			&__content {
				width: 100%;

				&__name {
					font-size: 3.5em;
				}
			}
		}
	}
}