:root {
  --color-accent: #51e9a0;
  --page-h-padding: 1.7rem;
  --page-v-padding: 1.3rem;
  --page-max-width: 1000px;
  --color-gray-1: #111;
  --color-gray-2: #222;
  --color-gray-3: #333;
  --color-gray-5: #555;
  --color-gray-8: #888;
  --color-background-1: #000;
  --color-background-2: var(--color-gray-1);
  --color-background-3: var(--color-gray-2);
  --color-foreground-1: #ddd;
  --color-foreground-2: #fff;

  font-size: 16px;
  font-family: monospace;
  color: var(--color-foreground-1);
}

html,
body {
  background-color: var(--color-background-1);
  line-height: 1.5em;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-gray-2);
  margin: 1rem 0 1.5rem;
}

p {
  padding-bottom: 1rem;
}

pre {
  background-color: var(--color-background-2);
  padding: 1rem;
}

pre code {
  background-color: transparent;
  padding: 0;
  color: inherit;
}

code {
  background-color: var(--color-background-3);
  padding: 0.1em 0.5em;
  color: var(--color-foreground-2);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  padding-bottom: 0.7em;
  font-weight: bolder;
  color: var(--color-foreground-2);
  line-height: 1.3em;
  padding-top: 0.3rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

.math {
  background-color: var(--color-background-2);
}

.display.math {
  padding: 0.3em;
}

.inline.math {
  padding: 0 0.3em;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

.root {
  padding: var(--page-v-padding) var(--page-h-padding);
  max-width: var(--page-max-width);
  margin: auto;
}

.centered-content {
  padding: var(--page-v-padding) var(--page-h-padding);
  max-width: var(--page-max-width);
  margin: auto;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0.5rem 0;
}

li {
  padding-bottom: 0.4rem;
}

.card {
  display: block;
  border: 1px solid var(--color-gray-2);
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  text-decoration: none !important;
}

.card:hover .card-title {
  text-decoration: underline;
}

.card-title {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
}

.card-description {
  display: block;
  font-size: 0.8rem;
  color: var(--color-gray-8);
  padding-top: 0.5rem;
}

.inline-card {
  border: 1px solid var(--color-gray-2);
  padding: 1rem 1rem 0rem;
  margin-bottom: 1rem;
}

.inline-card-footer {
  text-align: right;
  font-size: 0.8rem;
  padding-bottom: 0.7rem;
}

.post-date {
  font-size: 0.8rem;
  color: var(--color-gray-5);
  font-style: italic;
}

.header-secondary {
  font-size: 0.85rem;
  padding: var(--page-v-padding) var(--page-h-padding) 0;
  max-width: var(--page-max-width);
  margin: auto;
}

.giscus {
  padding: 0 var(--page-h-padding) 2rem;
  min-height: 400px;
  max-width: var(--page-max-width);
  margin: auto;
}
