@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --content-foreground-rgb: #000;
  --content-background-rgb: #fff;

  --dark-foreground-rgb: #fff;
  --dark-background-rgb: #09080a;
  --code-background-rgb: #000;

  --accent-rgb: #b29b3e;
  --accent-foreground-rgb: #09080a;

  --accent-complement: #3e55b2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
}

body {
  color: var(--dark-foreground-rgb);
  background-color: var(--dark-background-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

.hljs {
  background: var(--code-background-rgb) !important;
}
pre {
  --tw-prose-pre-bg: var(--code-background-rgb);
}

