.navLink {
  --nav-link-color: var(--accent-rgb);
  position: relative;
  color: var(--nav-link-color);
}
.navLink::after {
  content: '';
  position: absolute;
  right: -4px;
  bottom: -2px;
  width: 40px;
  height: 12px;
  border-right: 1px solid var(--nav-link-color);
  border-bottom: 1px solid var(--nav-link-color);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.navLink:hover::after {
  opacity: 1;
}

.navLinkActive {
  --nav-link-color: #888;
  cursor: default;
}
.navLinkActive::after {
  display: none;
}

.header {
  position: relative;
  padding: 5rem 0;
  text-align: center;
}

.headerFade {
  --size: 300px;
  position: absolute;
  top: 0;
  left: calc(50% - var(--size)/2);
  z-index: -1;
  width: var(--size);
  height: var(--size);
  background-color: var(--accent-rgb);
  border-radius: 50%;
  opacity: 0.16;
  filter: blur(calc(var(--size) / 1.5));
}

.headerName {
  text-align: left;
  display: inline-block;
}

.spacing {
  padding: 1rem 5rem 0;
}

@media all and (min-width: 768px) {
  .spacing {
    padding: 0.4rem 0 0 5rem;
  }
}

.headerTitle {
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.4em;
}

.headerTitle::before {
  letter-spacing: 0;
  content: 'Hi! My name is';
  display: block;
  color: var(--accent-rgb);
  font-size: 0.9rem;
  line-height: 1em;
}

.headerSubtitle {
  font-size: 0.9rem;
  text-align: right;
}

