.navLink {
  position: relative;
}
.navLink::after {
  content: '';
  position: absolute;
  right: -4px;
  bottom: -2px;
  width: 40px;
  height: 12px;
  border-right: 1px solid rgb(var(--accent-rgb));
  border-bottom: 1px solid rgb(var(--accent-rgb));


  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.navLink:hover::after {
  opacity: 1;
}

.header {
  position: relative;
  padding: 5rem 0;
  text-align: center;
}

.headerName {
  text-align: left;
  display: inline-block;
}

.headerTitle {
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.4em;
}

.headerTitle::before {
  letter-spacing: 0;
  content: 'Hi! My name is';
  display: block;
  color: rgb(var(--accent-rgb));
  font-size: 0.9rem;
  line-height: 1em;
}

.headerSubtitle {
  font-size: 0.9rem;
  text-align: right;
}

